{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'App/main.css' %}">
    <title>Signup Page</title>
</head>
<body>
    <form method="post">
        <h1>Sign Up</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
         
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name">
       
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name">

        <label for="contact">Contact</label>
        <input type="text" id="contact" name="contact">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <button type="submit"> Signup</button>
    </form>

    <div> 
        <p>Existing User?</p>
        <button> <a href="/login"> Login</a></button>
    </div>

    <script src="{% static 'App/script.js' %}"></script>
</body>
</html>